//
//  Config.xcconfig
//  SpotifyIntegration
//
//  Created by Balázs Morvay on 2021. 02. 15..
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974


SWIFT_INCLUDE_PATHS = $(SRCROOT)/
MODULEMAP_PRIVATE_FILE = $(SRCROOT)/module.modulemap
